<section class="resume-section" id="blog">
  <div class="resume-section-content">
    <h2 class="section-title">Blog Posts</h2>

    <div class="card-list">
      <div class="content-card d-flex flex-column flex-md-row" *ngFor="let post of blogPosts">
        <a href="{{ '/blog/' + post.slug }}" class="card-thumbnail-wrapper">
          <div [style.backgroundImage]="'url(\'' + post.cover + '\')'" class="card-thumbnail"></div>
        </a>
        <div class="card-body-content">
          <a href="{{ '/blog/' + post.slug }}" class="card-link">
            <h3 class="card-title">{{ post.title }}</h3>
            <div class="card-date">{{ post.updatedAt }}</div>
            <div class="card-tags">
              <span class="badge badge-primary" *ngFor="let tag of post.tags">{{ tag }}</span>
            </div>
            <p class="card-description">{{ post.description }}</p>
          </a>
          <div class="card-actions">
            <a href="{{ '/blog/' + post.slug }}" class="btn-outline">Read More</a>
            <a class="btn-outline" [href]="link.url" target="_blank" *ngFor="let link of post.links">
              <i *ngIf="link.type == 'github'" class="fab fa-github"></i>
              <span *ngIf="link.type == 'github'">&nbsp;Code</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>