#blog {
  padding: 50px;
  max-width: 60rem;
}

.bg {
  background-repeat: none;
  background-size: cover;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -100;
  transform: scale(1.5);
  // filter: blur(50px);
  filter: brightness(20%);
  img {
    width: 100%;
    height: 100%;
    filter: blur(50px);
  }
}

img {
  background: wheat;
}

.cover {
  border-radius: 25px;
  height: 300px;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin-bottom: 10px;
}
.title {
  color: white;
  text-transform: none;
  font-size: 80px;
  margin-top: 50px;
}
.actions {
  display: flex;
  justify-content: space-between;
  svg {
    font-size: 30px;
  }
}

.markdown {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6);
  ::ng-deep {
    h1,
    h2,
    h3,
    h4 {
      color: rgba(255, 255, 255, 0.8) !important;
    }
  }
}

@media (max-width: 992px) {
  #blog {
    padding: 0px;
    max-width: 100vw;
    overflow: hidden;
    .cover {
      border-radius: 0px;
      height: 200px;
    }
    .title {
      font-size: 50px;
    }
    .content {
      margin: 10px;
      .markdown {
        font-size: 18px;
      }
    }
  }
}

::ng-deep {
  @media (min-width: 992px) {
    #sideNav {
      background: none !important;
      .navbar-brand {
        margin-top: 50px;
        filter: opacity(0.5);
        transition: 0.5s ease-in-out;
        .img-profile {
          transition: 0.5s ease-in-out;
          max-width: 7rem;
          max-height: 7rem;
        }
      }
      #navbarSupportedContent {
        filter: opacity(0);
        transition: 0.5s ease-in-out;
      }
      &:hover {
        .navbar-brand {
          filter: opacity(1);
          .img-profile {
            max-width: 10rem;
            max-height: 10rem;
          }
        }
        #navbarSupportedContent {
          filter: opacity(1);
        }
      }
    }
  }
}
