:host {
  background-color: #f4f4f4;
}

#about {
  max-width: none;
  background: radial-gradient(ellipse at left top, #192633 0%, #000000 50%);
  color: #ffffffc2;
  h1 {
    color: #fff;
  }
}

#about-bg {
  position: absolute;
  right: 0px;
  width: 100%;
  height: 100vh;
  background-image: url(/assets/img/silhouette.png);
  background-position: right bottom;
  background-repeat: no-repeat;
  z-index: 0;
}

.metrics {
  font-size: 20px;
  vertical-align: middle;
  // tr > td:first-child {
  //     width: 50px;
  // }
  tr > td:first-child {
    // width: 150px;
    font-weight: bold;
    font-size: 40px;
    width: 60px;
    color: #bd5d38;
    cursor: pointer;
  }
  tr > td:last-child {
    // text-align: right;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

#about .resume-section-content {
  position: relative;
  .social-icons {
    display: inline-block;
  }
  .scroll-icon {
    position: absolute;
    left: 50%;
    // right: 50vw;
    // margin-left: 20px;
    font-size: 40px;
    color: #6c757df5;
    &:hover {
      color: #e4e4e49c;
    }
  }
}

.console {
  display: none;
  backdrop-filter: blur(10px);
  color: white;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 0px;
  left: 0px;
  height: 100vh;

  .shell {
    background-color: #292e39;
    margin: 50px;
    max-width: 1000px;
    height: 600px;
    flex: 1;
    border-radius: 5px;
    padding: 15px 20px;
    overflow: auto;

    .toolbar {
      font-size: 20px;
    }
    .commands {
      font-size: 20px;
      font-family: "Lucida Console", Monaco, monospace;
      padding: 20px 10px;
      white-space: pre;

      #cursor {
        display: inline-block;
        width: 12px;
        height: 20px;
        margin-bottom: -2px;
        background-color: rgba(255, 255, 255, 0.774);
      }
    }
  }
}

::ng-deep body.hidden {
//   overflow: hidden;
}

@media (max-width: 1000px) {
  #about-bg {
    display: none;
  }
}

@media (max-width: 576px) {
  .scroll-icon {
    position: static !important;
    // left: unset;
    float: right !important;
  }
  .shell {
    margin: 20px !important;

    .toolbar {
      font-size: 15px !important;
    }
    .commands {
      font-size: 15px !important;
      #cursor {
        width: 9px !important;
        height: 15px !important;
      }
    }
  }
}
